@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,700|Roboto:400,500,700,900&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    margin-right: 0px;
    padding: 0;
}
a {
    text-decoration: none;
    display: inline;
    color: rgb(240, 0, 228);
}

nav  {
    background-color: #e0009d;
    display: grid;
    grid-template-rows: max-content;
    height: 10px;
}

.home-main section a{
    border-radius: 50px;
    display: grid;
    grid-column: auto;
    justify-content: space-around; 
    width: 360px;
    margin-top: 20px;   
}




.home-main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100%;
    background-image: url('/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-main img {
    border-radius: 30px;
    display: grid;
    grid-column: auto;
    justify-content: space-around; 
    width: 820px;
    margin-top: 20px;   
}

.home-main section {
    display: grid;
    grid-column: 2;
    justify-items: center;
    height: 50px;
    margin-top: 80px;
}
.home-main-text {
    font-family: 'Roboto mono', monospace;
    font-size: 30px;
    font-weight: 700px;
    letter-spacing: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
    color: white;
}

.home-main p {
    font-family: 'Roboto mono', monospace;
    font-size: 90px;
    font-weight: 700px;
    letter-spacing: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
    color: white;
}

.home-main-button {
    font-family: 'Roboto mono', monospace;
    font-size: 30px;
    font-weight: 700px;
    letter-spacing: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
    color: white;
}

.home-main-button {
    width: 210px;
    height: 90px;
    background: #e0009d;
    text-align: center;
    font-weight: 600;
    font-size: 35px;
    line-height: 90px;
    border-radius: 20px;
}

.home-main .repost {
    display: grid;
    grid-column: 2;
    justify-items: center;
    height: 50px;
    margin-top: 0px;
    border-radius: 20px;
}



@keyframes glowing {
  0% {
    background-color: #a8059a;
    box-shadow: 0 0 5px #a8059a;
  }
  50% {
    background-color: #a8059a;
    box-shadow: 0 0 20px #a8059a;
  }
  100% {
    background-color: #a8059a;
    box-shadow: 0 0 5px #a8059a;
  }
}
.home-main-button {
  animation: glowing 1300ms infinite;
}